<p id="notice"><%=notice%></p>

<h1>List of Films</h1>


<table class="table">
	<thead>
		<tr>
			<th>Film Name</th>
			<th>Year</th>
			<th>Director</th>
			<th>Producer(s)</th>
			<th>Episode</th>
		</tr>
	</thead>
	<tbody >
		<% @films.each do |film| %>
			<tr>
				<td><li><%= link_to  film.title, film_url(film.id) %></li></td>
				<td><%= film.release_date %></td>
				<td><%= film.director %></td>
				<td><%= film.producers %></td>
				<td><%= film.episode_id %></td>				
			</tr>
		<%end%>
	</tbody>
</table>
